.btn {
    position: relative;
    cursor: pointer;
    border: none;
    overflow: hidden;
    border-radius: 3px;
}

.btn_large {
    width: 150px;
    height: 40px;
    font-size: var(--font-main3);
}

.btn_medium {
    width: 100px;
    height: 30px;
    font-size: var(--font-main2);
}

.btn_small {
    width: 50px;
    height: 20px;
    font-size: var(--font-main1);
}

.btn_inner {
    background-color: rgba(255, 255, 255, var(--ripple-opacity));
}

.btn_outline {
    outline: var(--outline-btn1) solid;
    border-radius: 2px;
}

span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple var(--ripple-animation-time) linear;
}

.btn_outline span.ripple {
    background-color: rgba(0, 0, 0, var(--ripple-opacity));
}

.btn_inner span.ripple {
    background-color: rgba(255, 255, 255, var(--ripple-opacity));
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}
